* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header, menu, main, footer, aside, section {
    border: 1px solid black;
}

header {
    display: flex;
    justify-content: center;

    padding: 80px;
}

menu {
    display: flex;
    justify-content: center;

    padding: 80px;
}

main {
    display: flex;
    flex-direction: row;

    height: 60vh;
}

aside {
    flex-grow: 1;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

aside > h2 {
    margin-bottom: 50px;
}

aside > button {
    margin: 30px;
}

section {
    flex-grow: 3;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    max-width: 75vw;
    padding: 50px 250px;
}

section > p {
    margin-top: 30px;
}

footer {
    display: flex;
    justify-content: center;

    padding: 80px;
}

button {
    padding: 15px 35px;
    min-width: 130px;

    transform: scale(1.2);

    outline: none;
    border: none;
}

button:hover {
    cursor: pointer;
    transform: scale(1.3);
}

.primary {
    background-color: whitesmoke;
    color: black;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
}

.secondary {
    background-color: black;
    color: whitesmoke;
    box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.2);
}

.article-preview {
    width: 80%;
    padding: 10px;
    margin: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.article-preview:last-of-type {
    border: none;
}